# Flask stuff
flask
flask-cors

# Honeycomb stuff
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability

# AWS x-ray stuff
aws-xray-sdk