# Flask stuff
flask
flask-cors

# Honeycomb stuff
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability

# AWS x-ray stuff
aws-xray-sdk

# CloudWatch stuff
watchtower

# rollbar stuff
blinker
rollbar

# AWS Congnito stuff
Flask-AWSCognito

# Postgres stuff
psycopg[binary]
psycopg[pool]

# DynamoDB stuff
boto3